@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1E1E1E;
    color: #F4EBD9;
    font-family: 'Inter', sans-serif;
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    background-color: #F4EBD9;
    color: #000;
    margin-bottom: 10px;
}
